version: '3.8'

services:
  payment-service:
    build: payment-service
    image: payment-service
    container_name: payment-service-container
    ports:
      - 9090:9090
    restart: on-failure
    environment:
      - DEFAULT_BALANCE=3000



  intershop:
    build: .
    image: intershop
    container_name: intershop-container
    ports:
      - 9091:9091
    depends_on:
      - intershop-db
    restart: on-failure
    environment:
        - SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mydb
        - SPRING_DATASOURCE_URL=r2dbc:postgresql://localhost:5432/mydb
        - SPRING_DATASOURCE_USER=intershop
        - SPRING_DATASOURCE_PASSWORD=intershop
        - PAYMENT_CLIENT_HOST=payment-service
        - PAYMENT_CLIENT_PORT=9090
        - spring.data.redis.host=intershop-cache-cache
        - spring.data.redis.port=6379

  intershop-db:
      image: postgres:16-alpine
      container_name: intershop-db-container
      volumes:
        - /var/lib/postgresql/data/
      ports:
        - 6541:5432
      environment:
        - POSTGRES_DB=mydb
        - POSTGRES_USER=intershop
        - POSTGRES_PASSWORD=intershop

  intershop-cache:
    image: redis:7.4.2-bookworm
    ports:
      - '6379:6379'