version: '3.8'

services:
  payment-service:
    build: payment-service
    image: payment-service
    container_name: payment-service-container
    ports:
      - 9090:9090
    depends_on:
      - keycloak
    restart: on-failure
    environment:
      - DEFAULT_BALANCE=3000
      - OAUTH2_SERVER=http://keycloak:8080/realms/intershop


  intershop:
    build: .
    image: intershop
    container_name: intershop-container
    ports:
      - 9091:9091
    depends_on:
      - intershop-db
      - intershop-cache
      - keycloak
    restart: on-failure
    environment:
        - SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mydb
        - SPRING_DATASOURCE_URL=r2dbc:postgresql://localhost:5432/mydb
        - SPRING_DATASOURCE_USER=intershop
        - SPRING_DATASOURCE_PASSWORD=intershop
        - PAYMENT_CLIENT_HOST=payment-service
        - PAYMENT_CLIENT_PORT=9090
        - spring.data.redis.host=intershop-cache-cache
        - spring.data.redis.port=6379
        - OAUTH2_SERVER=http://keycloak:8080/realms/intershop

  intershop-db:
      image: postgres:16-alpine
      container_name: intershop-db-container
      volumes:
        - /var/lib/postgresql/data/
      ports:
        - 6541:5432
      environment:
        - POSTGRES_DB=mydb
        - POSTGRES_USER=intershop
        - POSTGRES_PASSWORD=intershop

  intershop-cache:
    image: redis:7.4.2-bookworm
    ports:
      - '6379:6379'


  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    environment:
      KC_DB: dev-mem
      KC_LOG_LEVEL: INFO
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_IMPORT: "true"
      KC_IMPORT_REALM: /opt/keycloak/realm-intershop.json
    volumes:
      - ./keycloak/realm-intershop.json:/opt/keycloak/data/import/realm-intershop.json:ro
    command:
      - start-dev
      - --import-realm
    ports:
      - '8080:8080'
